#product-nvbar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#srch-dwnd-pnl {
    text-align: right;
    display: flex;
    align-items: center;
}

input#searchInput {
    width: 70%;
    padding: 10px 35px 10px 15px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 20px;
    outline: none;
    transition: 0.3s;
}

.sidenav-header {
    text-align: center;
    margin-top: 5px;
    padding-bottom: 0;
    margin-bottom: 0;
}

i#download-icon {
    font-size: 25px;
    color: red;
    padding-right: 80px;
    cursor: pointer;
}

a#addProduct {
    color: blue;
    font-weight: 600;
}

h2#AddProdctTtl {
    font-size: 25px;
    font-family: sans-serif;
}

i#admin-sidebar-icons {
    color: #f44335;
}


i#admin-title-icons {
    color: #f44335;
}


i#dsbrd-icons {
    color: #f44335;
    font-size:25px;
}
